/* Main Colors */
$dark: #131c21
$light-dark: #2A3B44
$yellow: #ffce00
$yellow-10: rgba(255, 206, 0, 0.1)
$white: #fff
$white-80: rgba(255, 255, 255, 0.8)
$white-60: rgba(255, 255, 255, 0.6)
$white-50: rgba(255, 255, 255, 0.5)

/* Main Fonts */
$main-font: "Montserrat"
$secondary-font: "Roboto Mono"

/* Setting Configs */
.full-page
  width: 100%

html,
body 
  font-family: $main-font
  font-size: 16px
  background-color: $dark


.container 
  width: 80%


/* Header */

@keyframes logo-rot
  100%
    transform: rotate(180deg)
    
header 
  width: 100%
  height: 100px
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  top: 0px
  background-color: $dark

.inner-header 
  width: 100%
  height: 100px
  display: flex
  justify-content: space-between
  align-items: center
  .logo
    display: flex
    justify-content: center
    align-items: center  
    img
      width: 72px
      height: 72px
      &:hover
        animation: logo-rot 1s
  nav
    height: 100px
    ul
      margin: 0px
      list-style: none
      height: 100%
      display: flex
      justify-content: space-around
      align-items: center
      li
        margin: 0px 15px
        height: 100%
        a
          text-decoration: none
          height: 100%
          color: $white
          display: flex
          justify-content: center
          align-items: center
          div
            height: 50%
            padding: 10px 20px
            display: flex
            align-items: center
            font-size: 14px
            span
              font-family: $secondary-font
              color: $yellow
          &:hover
            color: $yellow
        &:last-child
          margin: 0px 0px 0px 15px
          div
            height: 30%
            padding: 10px 20px 10px 20px
            border: 2px solid $yellow
            border-radius: 5px
            color: $yellow
            &:hover
              background-color: $yellow-10

/* Social Medias */

@keyframes sm-transl
  100%
    transform: translateY(-5px)

@keyframes sm-transl-email
  100%
    transform: translateX(5px)
    
.social-media
  position: fixed
  bottom: 0px
  right: 150px
  div
    height: 50px
    width: 50px
    margin: 15px
    display: flex
    justify-content: center
    align-items: center
    &:first-child
      justify-content: start
      align-items: center
      transform: rotate(-90deg)
      a
        font-size: 15px
        font-family: $secondary-font
        &:hover
          animation: sm-transl-email 1s ease forwards
    a
      color: $white-60
      text-decoration: none
      font-size: 25px
      &:hover
        color: $yellow
        animation: sm-transl 1s ease forwards

/* Footer */

@keyframes ft-dev
  50%
    border-bottom: 1px solid $yellow
  100%
    background-color: $yellow-10
    border-bottom: 1px solid $yellow
    

.ft-data
  width: 100%
  height: 10vh
  background-color: $dark
  display: flex
  align-items: center
  justify-content: center
  footer
    width: 50%
    height: 10vh
    display: flex
    justify-content: space-around
    align-items: center
    .ft-copy
      font-size: 14px
      color: $white-50
    a
      text-decoration: none
      color: $yellow
      font-size: 14px
      font-family: $secondary-font
      .ft-dev
        padding: 10px
        &:hover
          animation: ft-dev 2s linear forwards

/* Home Page */

#homepage
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  .hp-data
    margin-right: 15%
    width: 50%
    height: 50vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    .hp-first-line
      font-family: $secondary-font
      font-size: 16px
      color: $yellow
    .hp-second-line
      font-size: 48px
      color: $white
    .hp-third-line
      margin-bottom: 20px
      font-size: 36px
      color: $white-60
    .hp-fourth-line
      margin-bottom: 15px
      width: 75%
      font-size: 24px
      color: $white-50
    a
      font-size: 16px
      font-family: $secondary-font
      color: $yellow
      text-decoration: none
      .hp-call-to-action
        width: 130px
        height: 50px
        padding: 5px 10px
        border: 2px solid $yellow
        border-radius: 5px
        display: flex
        justify-content: center
        align-items: center
        &:hover
          background-color: $yellow-10
      
/* About Me Page */

#aboutme
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  .abt-data
    width: 60%
    height: 50vh
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    .abt-header
      height: 5vh
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      .abt-title
        font-size: 20px
        color: $white-60
        span
          font-family: $secondary-font
          color: $yellow
      .abt-divider
        width: 86%
        height: 0px
        border: 1px solid $white-60
    .abt-body
      width: 100%
      height: 40vh
      display: flex
      justify-content: center
      align-items: center
      .abt-img
        width: 50%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        .img-back
          width: 250px
          height: 250px
          position: absolute
          border: 1px solid $yellow
        .img-overlay
          width: 250px
          height: 250px
          position: absolute
          border: 1px solid $yellow
          &:hover
            background-color: $yellow-10
            z-index: 999
          img
            width: 250px
            height: 250px
        .i-1
          margin: 0px 30px 30px 0px
        .i-2
          margin: 30px 60px 0px 0px
      .abt-text
        width: 50%
        display: flex
        justify-content: center
        align-items: center
        font-size: 18px
        color: $white-60
        padding: 10px

/* Experiences Page */

#experience
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  .xp-data
    width: 60%
    height: 70vh
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    .xp-header
      height: 5vh
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      .xp-title
        font-size: 20px
        color: $white-60
        span
          font-family: $secondary-font
          color: $yellow
      .xp-divider
        width: 82%
        height: 0px
        border: 1px solid $white-60
    .xp-body
      height: 60vh
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      .xp-job-menu
        height: 40vh
        width: 10%
        margin: 2%
        padding: 2%
        border-left: 2px solid $yellow
        display: flex
        flex-direction: column
        .xp-menu-opt
          width: 100%
          height: 5vh
          border: none
          font-family: $main-font
          cursor: pointer
          background-color: $dark
          color: $white-80
          font-size: 18px
          outline: none
        .active
          background-color: $yellow-10 !important
          color: $yellow !important
          border: 1px solid $yellow !important
      .xp-job-description
        height: 40vh
        width: 50%
        margin: 2%
        padding: 2%
        display: flex
        flex-direction: column
        .xp-job-name
          font-size: 24px
          color: $white-80
          a
            text-decoration: none
            margin: 2%
            font-family: $secondary-font
            color: $yellow
        .xp-job-date
          margin: 2%
          font-family: $secondary-font
          font-size: 14px
          color: $white-50
        .xp-job-tasks
          margin: 2%
          width: 100%
          font-size: 18px
          color: $white-60
          .arrow-right-icon
            font-size: 18px
            color: $yellow
            margin-right: 2%

/* Featured Projects */

.ft-proj-data-left
  height: 35vh
  width: 90%
  margin: 5vh 0px
  display: flex
  justify-content: space-between
  align-items: center
  .ft-proj-desc
    height: 100%
    width: 50%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: flex-start
    .ft-proj-featured
      font-size: 12px
      font-family: $secondary-font
      color: $yellow
    .ft-proj-title
      margin-left: 5%
      font-size: 24px
      color: $white
    .ft-proj-description
      background-color: $light-dark
      height: 16vh
      width: 100%
      p
        margin: 20px
        font-size: 16px
        color: $white-60
  .ft-proj-img
    border: 1px solid $white
    height: 100%
    width: 60%
  .ft-proj-tech
    height: 100%
    width: 10%
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    .ft-proj-used-tech
      width: 100%
      height: 70%
      p
        margin-left: 5px
        font-family: $secondary-font
        font-size: 14px
        color: $white-50
    .ft-proj-links
      width: 100%
      height: 30%
      display: flex
      justify-content: flex-start
      align-items: center
      div
        width: 50%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        .link-icon, .git-icon
          font-size: 25px
          color: $white-50
          &:hover
            color: $yellow

.ft-proj-data-right
  height: 35vh
  width: 90%
  margin: 5vh 0px
  display: flex
  justify-content: space-between
  align-items: center
  .ft-proj-tech
    height: 100%
    width: 10%
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    .ft-proj-used-tech
      width: 100%
      height: 70%
      p
        margin-left: 5px
        font-family: $secondary-font
        font-size: 14px
        color: $white-50
    .ft-proj-links
      width: 100%
      height: 30%
      display: flex
      justify-content: flex-start
      align-items: center
      div
        width: 50%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        .link-icon, .git-icon
          font-size: 25px
          color: $white-50
          &:hover
            color: $yellow
  .ft-proj-img
    border: 1px solid $white
    height: 100%
    width: 60%
  .ft-proj-desc
    height: 100%
    width: 50%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: flex-end
    .ft-proj-featured
      font-size: 12px
      font-family: $secondary-font
      color: $yellow
    .ft-proj-title
      margin-right: 5%
      font-size: 24px
      color: $white
    .ft-proj-description
      background-color: $light-dark
      height: 16vh
      width: 100%
      p
        margin: 20px
        font-size: 16px
        color: $white-60

/* Projects Page */
  
#projects
  width: 100%
  height: 100%
  margin-top: 15vh
  display: flex
  justify-content: center
  align-items: center
  .proj-data
    width: 60%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    .proj-header
      height: 5vh
      width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-end
      .proj-inner-header
        height: 5vh
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        .proj-title
          font-size: 20px
          color: $white-60
          span
            font-family: $secondary-font
            color: $yellow
        .proj-divider
          width: 80%
          height: 0px
          border: 1px solid $white-60
      .proj-see-all
        margin: 0px
        padding: 0px
        width: 100%
        height: 3vh
        display: flex
        justify-content: flex-end
        align-content: center
        a
          display: flex
          p
            margin: 0px 10px
            font-family: $secondary-font
            font-size: 15px
          .arrow-right-icon
            font-size: 20px
    a
      font-size: 16px
      font-family: $secondary-font
      color: $yellow
      text-decoration: none
      .proj-call-to-action
        width: 130px
        height: 50px
        padding: 5px 10px
        border: 2px solid $yellow
        border-radius: 5px
        display: flex
        justify-content: center
        align-items: center
        &:hover
          background-color: $yellow-10

/* Contact Page */
  
#contact
  width: 100%
  height: 100vh
  display: flex
  justify-content: space-around
  align-items: center
  .ctc-data
    width: 60%
    height: 50vh
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    .ctc-header
      height: 5vh
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      .ctc-title
        font-size: 20px
        color: $white-60
        span
          font-family: $secondary-font
          color: $yellow
      .ctc-divider
        width: 80%
        height: 0px
        border: 1px solid $white-60
    .ctc-first-line
      font-size: 48px
      color: $white
    .ctc-second-line
      width: 70%
      p
        margin: 0px
        padding: 0px
        font-size: 24px
        text-align: center
        color: $white-60
    a
      font-size: 16px
      font-family: $secondary-font
      color: $yellow
      text-decoration: none
      .ctc-call-to-action
        width: 130px
        height: 50px
        padding: 5px 10px
        border: 2px solid $yellow
        border-radius: 5px
        display: flex
        justify-content: center
        align-items: center
        &:hover
          background-color: $yellow-10

/* 404 */

.data-404
  height: 100vh
  width: 100%
  .components-404
    height: 100vh
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .title-404
      padding: 2%
      font-family: $secondary-font
      font-size: 52px
      color: $yellow
    .description-404
      width: 25%
      padding: 2%
      text-align: center
      font-size: 28px
      color: $white-60
    a
      text-decoration: none
      .back-button-404
        margin: 2%
        width: 120px
        height: 60px
        font-size: 16px
        font-family: $secondary-font
        color: $yellow
        display: flex
        justify-content: center
        align-items: center
        border: 1px solid $yellow
        border-radius: 5px
        &:hover
          background-color: $yellow-10
