/* Main Colors */
/* Main Fonts */
/* Setting Configs */
.full-page {
  width: 100%;
}

html,
body {
  font-family: "Montserrat";
  font-size: 16px;
  background-color: #131c21;
}

.container {
  width: 80%;
}

/* Header */
@-webkit-keyframes logo-rot {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes logo-rot {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 999;
  top: 0px;
  background-color: #131c21;
}

.inner-header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-header .logo img {
  width: 72px;
  height: 72px;
}

.inner-header .logo img:hover {
  -webkit-animation: logo-rot 1s;
          animation: logo-rot 1s;
}

.inner-header nav {
  height: 100px;
}

.inner-header nav ul {
  margin: 0px;
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-header nav ul li {
  margin: 0px 15px;
  height: 100%;
}

.inner-header nav ul li a {
  text-decoration: none;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-header nav ul li a div {
  height: 50%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.inner-header nav ul li a div span {
  font-family: "Roboto Mono";
  color: #ffce00;
}

.inner-header nav ul li a:hover {
  color: #ffce00;
}

.inner-header nav ul li:last-child {
  margin: 0px 0px 0px 15px;
}

.inner-header nav ul li:last-child div {
  height: 30%;
  padding: 10px 20px 10px 20px;
  border: 2px solid #ffce00;
  border-radius: 5px;
  color: #ffce00;
}

.inner-header nav ul li:last-child div:hover {
  background-color: rgba(255, 206, 0, 0.1);
}

/* Social Medias */
@-webkit-keyframes sm-transl {
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes sm-transl {
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes sm-transl-email {
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes sm-transl-email {
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@media only screen and (min-width: 1200px) {
  .social-media {
    position: fixed;
    bottom: 0px;
    right: 150px;
  }
  .social-media div {
    height: 50px;
    width: 50px;
    margin: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-media div:first-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .social-media div:first-child a {
    font-size: 15px;
    font-family: "Roboto Mono";
  }
  .social-media div:first-child a:hover {
    -webkit-animation: sm-transl-email 1s ease forwards;
            animation: sm-transl-email 1s ease forwards;
  }
  .social-media div a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 25px;
  }
  .social-media div a:hover {
    color: #ffce00;
    -webkit-animation: sm-transl 1s ease forwards;
            animation: sm-transl 1s ease forwards;
  }
}

/* Footer */
@-webkit-keyframes ft-dev {
  50% {
    border-bottom: 1px solid #ffce00;
  }
  100% {
    background-color: rgba(255, 206, 0, 0.1);
    border-bottom: 1px solid #ffce00;
  }
}
@keyframes ft-dev {
  50% {
    border-bottom: 1px solid #ffce00;
  }
  100% {
    background-color: rgba(255, 206, 0, 0.1);
    border-bottom: 1px solid #ffce00;
  }
}

@media only screen and (min-width: 300px) {
  .ft-data {
    width: 100%;
    height: 10vh;
    background-color: #131c21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ft-data footer {
    width: 100%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ft-data footer .ft-copy {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
  }
  .ft-data footer a {
    text-decoration: none;
    color: #ffce00;
    font-size: 10px;
    font-family: "Roboto Mono";
  }
  .ft-data footer a .ft-dev {
    padding: 10px;
  }
  .ft-data footer a .ft-dev:hover {
    -webkit-animation: ft-dev 2s linear forwards;
            animation: ft-dev 2s linear forwards;
  }
}

@media only screen and (min-width: 500px) {
  .ft-data {
    width: 100%;
    height: 10vh;
    background-color: #131c21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ft-data footer {
    width: 90%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ft-data footer .ft-copy {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
  }
  .ft-data footer a {
    text-decoration: none;
    color: #ffce00;
    font-size: 12px;
    font-family: "Roboto Mono";
  }
  .ft-data footer a .ft-dev {
    padding: 10px;
  }
  .ft-data footer a .ft-dev:hover {
    -webkit-animation: ft-dev 2s linear forwards;
            animation: ft-dev 2s linear forwards;
  }
}

@media only screen and (min-width: 600px) {
  .ft-data {
    width: 100%;
    height: 10vh;
    background-color: #131c21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ft-data footer {
    width: 80%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ft-data footer .ft-copy {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
  }
  .ft-data footer a {
    text-decoration: none;
    color: #ffce00;
    font-size: 12px;
    font-family: "Roboto Mono";
  }
  .ft-data footer a .ft-dev {
    padding: 10px;
  }
  .ft-data footer a .ft-dev:hover {
    -webkit-animation: ft-dev 2s linear forwards;
            animation: ft-dev 2s linear forwards;
  }
}

@media only screen and (min-width: 768px) {
  .ft-data {
    width: 100%;
    height: 10vh;
    background-color: #131c21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ft-data footer {
    width: 70%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ft-data footer .ft-copy {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
  .ft-data footer a {
    text-decoration: none;
    color: #ffce00;
    font-size: 14px;
    font-family: "Roboto Mono";
  }
  .ft-data footer a .ft-dev {
    padding: 10px;
  }
  .ft-data footer a .ft-dev:hover {
    -webkit-animation: ft-dev 2s linear forwards;
            animation: ft-dev 2s linear forwards;
  }
}

@media only screen and (min-width: 1200px) {
  .ft-data {
    width: 100%;
    height: 10vh;
    background-color: #131c21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ft-data footer {
    width: 50%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ft-data footer .ft-copy {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
  .ft-data footer a {
    text-decoration: none;
    color: #ffce00;
    font-size: 14px;
    font-family: "Roboto Mono";
  }
  .ft-data footer a .ft-dev {
    padding: 10px;
  }
  .ft-data footer a .ft-dev:hover {
    -webkit-animation: ft-dev 2s linear forwards;
            animation: ft-dev 2s linear forwards;
  }
}

/* Home Page */
@media only screen and (min-width: 300px) {
  #homepage {
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #homepage .hp-data {
    width: 70%;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #homepage .hp-data .hp-first-line {
    font-family: "Roboto Mono";
    font-size: 12px;
    color: #ffce00;
  }
  #homepage .hp-data .hp-second-line {
    font-size: 26px;
    color: #fff;
  }
  #homepage .hp-data .hp-third-line {
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
  }
  #homepage .hp-data .hp-fourth-line {
    margin-bottom: 15px;
    width: 75%;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
  }
  #homepage .hp-data a {
    font-size: 14px;
    font-family: "Roboto Mono";
    color: #ffce00;
    text-decoration: none;
  }
  #homepage .hp-data a .hp-call-to-action {
    width: 110px;
    height: 30px;
    padding: 5px 10px;
    border: 2px solid #ffce00;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #homepage .hp-data a .hp-call-to-action:hover {
    background-color: rgba(255, 206, 0, 0.1);
  }
}

@media only screen and (min-width: 400px) {
  #homepage {
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #homepage .hp-data {
    width: 70%;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #homepage .hp-data .hp-first-line {
    font-family: "Roboto Mono";
    font-size: 14px;
    color: #ffce00;
  }
  #homepage .hp-data .hp-second-line {
    font-size: 28px;
    color: #fff;
  }
  #homepage .hp-data .hp-third-line {
    margin-bottom: 20px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
  }
  #homepage .hp-data .hp-fourth-line {
    margin-bottom: 15px;
    width: 75%;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
  }
  #homepage .hp-data a {
    font-size: 14px;
    font-family: "Roboto Mono";
    color: #ffce00;
    text-decoration: none;
  }
  #homepage .hp-data a .hp-call-to-action {
    width: 110px;
    height: 30px;
    padding: 5px 10px;
    border: 2px solid #ffce00;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #homepage .hp-data a .hp-call-to-action:hover {
    background-color: rgba(255, 206, 0, 0.1);
  }
}

@media only screen and (min-width: 768px) {
  #homepage {
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #homepage .hp-data {
    width: 70%;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #homepage .hp-data .hp-first-line {
    font-family: "Roboto Mono";
    font-size: 14px;
    color: #ffce00;
  }
  #homepage .hp-data .hp-second-line {
    font-size: 32px;
    color: #fff;
  }
  #homepage .hp-data .hp-third-line {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
  }
  #homepage .hp-data .hp-fourth-line {
    margin-bottom: 15px;
    width: 75%;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
  }
  #homepage .hp-data a {
    font-size: 16px;
    font-family: "Roboto Mono";
    color: #ffce00;
    text-decoration: none;
  }
  #homepage .hp-data a .hp-call-to-action {
    width: 130px;
    height: 50px;
    padding: 5px 10px;
    border: 2px solid #ffce00;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #homepage .hp-data a .hp-call-to-action:hover {
    background-color: rgba(255, 206, 0, 0.1);
  }
}

@media only screen and (min-width: 1200px) {
  #homepage {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #homepage .hp-data {
    margin-right: 15%;
    width: 50%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #homepage .hp-data .hp-first-line {
    font-family: "Roboto Mono";
    font-size: 16px;
    color: #ffce00;
  }
  #homepage .hp-data .hp-second-line {
    font-size: 48px;
    color: #fff;
  }
  #homepage .hp-data .hp-third-line {
    margin-bottom: 20px;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.6);
  }
  #homepage .hp-data .hp-fourth-line {
    margin-bottom: 15px;
    width: 75%;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
  }
  #homepage .hp-data a {
    font-size: 16px;
    font-family: "Roboto Mono";
    color: #ffce00;
    text-decoration: none;
  }
  #homepage .hp-data a .hp-call-to-action {
    width: 130px;
    height: 50px;
    padding: 5px 10px;
    border: 2px solid #ffce00;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #homepage .hp-data a .hp-call-to-action:hover {
    background-color: rgba(255, 206, 0, 0.1);
  }
}

/* About Me Page */
#aboutme {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutme .abt-data {
  width: 60%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutme .abt-data .abt-header {
  height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutme .abt-data .abt-header .abt-title {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}

#aboutme .abt-data .abt-header .abt-title span {
  font-family: "Roboto Mono";
  color: #ffce00;
}

#aboutme .abt-data .abt-header .abt-divider {
  width: 86%;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

#aboutme .abt-data .abt-body {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutme .abt-data .abt-body .abt-img {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutme .abt-data .abt-body .abt-img .img-overlay {
  width: 250px;
  height: 250px;
  position: relative;
  border: 2px solid #ffce00;
  border-radius: 5px;
}

#aboutme .abt-data .abt-body .abt-img .img-overlay img {
  width: 250px;
  height: 250px;
  position: absolute;
}

#aboutme .abt-data .abt-body .abt-img .img-overlay .overlay {
  width: 250px;
  height: 250px;
  position: absolute;
  background-color: rgba(255, 206, 0, 0.1);
}

#aboutme .abt-data .abt-body .abt-img .img-overlay .overlay:hover {
  background-color: transparent;
}

#aboutme .abt-data .abt-body .abt-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}

/* Experiences Page */
#experience {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#experience .xp-data {
  width: 60%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#experience .xp-data .xp-header {
  height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#experience .xp-data .xp-header .xp-title {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}

#experience .xp-data .xp-header .xp-title span {
  font-family: "Roboto Mono";
  color: #ffce00;
}

#experience .xp-data .xp-header .xp-divider {
  width: 82%;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

#experience .xp-data .xp-body {
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#experience .xp-data .xp-body .xp-job-menu {
  height: 40vh;
  width: 10%;
  margin: 2%;
  padding: 2%;
  border-left: 2px solid #ffce00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#experience .xp-data .xp-body .xp-job-menu .xp-menu-opt {
  width: 100%;
  height: 5vh;
  border: none;
  font-family: "Montserrat";
  cursor: pointer;
  background-color: #131c21;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  outline: none;
}

#experience .xp-data .xp-body .xp-job-menu .active {
  background-color: rgba(255, 206, 0, 0.1) !important;
  color: #ffce00 !important;
  border: 1px solid #ffce00 !important;
}

#experience .xp-data .xp-body .xp-job-description {
  height: 40vh;
  width: 50%;
  margin: 2%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#experience .xp-data .xp-body .xp-job-description .xp-job-name {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}

#experience .xp-data .xp-body .xp-job-description .xp-job-name a {
  text-decoration: none;
  margin: 2%;
  font-family: "Roboto Mono";
  color: #ffce00;
}

#experience .xp-data .xp-body .xp-job-description .xp-job-date {
  margin: 2%;
  font-family: "Roboto Mono";
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

#experience .xp-data .xp-body .xp-job-description .xp-job-tasks {
  margin: 2%;
  width: 100%;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}

#experience .xp-data .xp-body .xp-job-description .xp-job-tasks .arrow-right-icon {
  font-size: 18px;
  color: #ffce00;
  margin-right: 2%;
}

/* Featured Projects */
.ft-proj-data-left {
  height: 35vh;
  width: 90%;
  margin: 5vh 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ft-proj-data-left .ft-proj-desc {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ft-proj-data-left .ft-proj-desc .ft-proj-featured {
  font-size: 12px;
  font-family: "Roboto Mono";
  color: #ffce00;
}

.ft-proj-data-left .ft-proj-desc .ft-proj-title {
  margin-left: 5%;
  font-size: 24px;
  color: #fff;
}

.ft-proj-data-left .ft-proj-desc .ft-proj-description {
  background-color: #2A3B44;
  height: 16vh;
  width: 100%;
}

.ft-proj-data-left .ft-proj-desc .ft-proj-description p {
  margin: 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.ft-proj-data-left .ft-proj-img {
  height: 100%;
  width: 60%;
  margin: 0 2%;
  cursor: pointer;
  background-color: rgba(255, 206, 0, 0.1);
  position: relative;
  z-index: 0;
}

.ft-proj-data-left .ft-proj-img .ft-proj-image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 206, 0, 0.1);
  position: absolute;
  z-index: 2;
}

.ft-proj-data-left .ft-proj-img .ft-proj-image-overlay:hover {
  background-color: transparent;
}

.ft-proj-data-left .ft-proj-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 1;
}

.ft-proj-data-left .ft-proj-tech {
  height: 100%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ft-proj-data-left .ft-proj-tech .ft-proj-used-tech {
  width: 100%;
  height: 70%;
}

.ft-proj-data-left .ft-proj-tech .ft-proj-used-tech p {
  margin-left: 5px;
  font-family: "Roboto Mono";
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.ft-proj-data-left .ft-proj-tech .ft-proj-links {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ft-proj-data-left .ft-proj-tech .ft-proj-links div {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ft-proj-data-left .ft-proj-tech .ft-proj-links div .link-icon, .ft-proj-data-left .ft-proj-tech .ft-proj-links div .git-icon {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
}

.ft-proj-data-left .ft-proj-tech .ft-proj-links div .link-icon:hover, .ft-proj-data-left .ft-proj-tech .ft-proj-links div .git-icon:hover {
  color: #ffce00;
}

.ft-proj-data-right {
  height: 35vh;
  width: 90%;
  margin: 5vh 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ft-proj-data-right .ft-proj-tech {
  height: 100%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ft-proj-data-right .ft-proj-tech .ft-proj-used-tech {
  width: 100%;
  height: 70%;
}

.ft-proj-data-right .ft-proj-tech .ft-proj-used-tech p {
  margin-left: 5px;
  font-family: "Roboto Mono";
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.ft-proj-data-right .ft-proj-tech .ft-proj-links {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ft-proj-data-right .ft-proj-tech .ft-proj-links div {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ft-proj-data-right .ft-proj-tech .ft-proj-links div .link-icon, .ft-proj-data-right .ft-proj-tech .ft-proj-links div .git-icon {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
}

.ft-proj-data-right .ft-proj-tech .ft-proj-links div .link-icon:hover, .ft-proj-data-right .ft-proj-tech .ft-proj-links div .git-icon:hover {
  color: #ffce00;
}

.ft-proj-data-right .ft-proj-img {
  height: 100%;
  width: 60%;
  margin: 0 2%;
  cursor: pointer;
  background-color: rgba(255, 206, 0, 0.1);
  position: relative;
  z-index: 0;
}

.ft-proj-data-right .ft-proj-img .ft-proj-image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 206, 0, 0.1);
  position: absolute;
  z-index: 2;
}

.ft-proj-data-right .ft-proj-img .ft-proj-image-overlay:hover {
  background-color: transparent;
}

.ft-proj-data-right .ft-proj-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 1;
}

.ft-proj-data-right .ft-proj-desc {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ft-proj-data-right .ft-proj-desc .ft-proj-featured {
  font-size: 12px;
  font-family: "Roboto Mono";
  color: #ffce00;
}

.ft-proj-data-right .ft-proj-desc .ft-proj-title {
  margin-right: 5%;
  font-size: 24px;
  color: #fff;
}

.ft-proj-data-right .ft-proj-desc .ft-proj-description {
  background-color: #2A3B44;
  height: 16vh;
  width: 100%;
}

.ft-proj-data-right .ft-proj-desc .ft-proj-description p {
  margin: 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

/* Projects Page */
#projects {
  width: 100%;
  height: 100%;
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .proj-data {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .proj-data .proj-header {
  height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#projects .proj-data .proj-header .proj-inner-header {
  height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .proj-data .proj-header .proj-inner-header .proj-title {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}

#projects .proj-data .proj-header .proj-inner-header .proj-title span {
  font-family: "Roboto Mono";
  color: #ffce00;
}

#projects .proj-data .proj-header .proj-inner-header .proj-divider {
  width: 80%;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

#projects .proj-data .proj-header .proj-see-all {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
}

#projects .proj-data .proj-header .proj-see-all a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#projects .proj-data .proj-header .proj-see-all a p {
  margin: 0px 10px;
  font-family: "Roboto Mono";
  font-size: 15px;
}

#projects .proj-data .proj-header .proj-see-all a .arrow-right-icon {
  font-size: 20px;
}

#projects .proj-data a {
  font-size: 16px;
  font-family: "Roboto Mono";
  color: #ffce00;
  text-decoration: none;
}

#projects .proj-data a .proj-call-to-action {
  width: 130px;
  height: 50px;
  padding: 5px 10px;
  border: 2px solid #ffce00;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .proj-data a .proj-call-to-action:hover {
  background-color: rgba(255, 206, 0, 0.1);
}

/* All Projects Page */
.all-proj-data {
  margin-top: 15vh;
  width: 100%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-proj-data .all-proj-header {
  height: 5vh;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-proj-data .all-proj-header .all-proj-title {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.all-proj-data .all-proj-header .all-proj-title span {
  font-family: "Roboto Mono";
  color: #ffce00;
}

.all-proj-data .all-proj-header .all-proj-divider {
  width: 77%;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.all-proj-data .table {
  width: 60%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-proj-data .table .thead {
  height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #ffce00;
}

.all-proj-data .table .thead .name-column-header {
  width: 50%;
  height: 4vh;
  font-size: 20px;
  color: #ffce00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-proj-data .table .thead .tech-column-header {
  width: 35%;
  height: 4vh;
  font-size: 20px;
  color: #ffce00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-proj-data .table .thead .link-column-header {
  width: 15%;
  height: 4vh;
  font-size: 20px;
  color: #ffce00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-proj-data .table .tbody {
  width: 100%;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-proj-data .table .tbody .projects-row {
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-proj-data .table .tbody .projects-row:hover {
  background-color: #2A3B44;
}

.all-proj-data .table .tbody .projects-row .name-column-data {
  width: 50%;
  height: 4vh;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-proj-data .table .tbody .projects-row .name-column-data span {
  margin-left: 5%;
}

.all-proj-data .table .tbody .projects-row .tech-column-data {
  width: 35%;
  height: 4vh;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-proj-data .table .tbody .projects-row .link-column-data {
  width: 15%;
  height: 4vh;
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-proj-data .table .tbody .projects-row .link-column-data a {
  color: rgba(255, 255, 255, 0.6);
}

.all-proj-data .table .tbody .projects-row .link-column-data a:hover {
  color: #ffce00;
}

.all-proj-data .table .tbody .projects-row .link-column-data a .link-icon {
  font-size: 25px;
}

.all-proj-data a {
  font-size: 16px;
  font-family: "Roboto Mono";
  color: #ffce00;
  text-decoration: none;
}

.all-proj-data a .all-proj-back-button {
  width: 130px;
  height: 50px;
  padding: 5px 10px;
  border: 2px solid #ffce00;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-proj-data a .all-proj-back-button:hover {
  background-color: rgba(255, 206, 0, 0.1);
}

/* Contact Page */
@media only screen and (min-width: 300px) {
  #contact {
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data {
    width: 90%;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header {
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header .ctc-title {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-header .ctc-title span {
    font-family: "Roboto Mono";
    color: #ffce00;
  }
  #contact .ctc-data .ctc-header .ctc-divider {
    width: 35%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-first-line {
    font-size: 24px;
    color: #fff;
  }
  #contact .ctc-data .ctc-second-line {
    width: 80%;
  }
  #contact .ctc-data .ctc-second-line p {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data a {
    font-size: 14px;
    font-family: "Roboto Mono";
    color: #ffce00;
    text-decoration: none;
  }
  #contact .ctc-data a .ctc-call-to-action {
    width: 110px;
    height: 30px;
    padding: 5px 10px;
    border: 2px solid #ffce00;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data a .ctc-call-to-action:hover {
    background-color: rgba(255, 206, 0, 0.1);
  }
}

@media only screen and (min-width: 400px) {
  #contact {
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data {
    width: 90%;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header {
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header .ctc-title {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-header .ctc-title span {
    font-family: "Roboto Mono";
    color: #ffce00;
  }
  #contact .ctc-data .ctc-header .ctc-divider {
    width: 45%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-first-line {
    font-size: 24px;
    color: #fff;
  }
  #contact .ctc-data .ctc-second-line {
    width: 80%;
  }
  #contact .ctc-data .ctc-second-line p {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data a {
    font-size: 14px;
    font-family: "Roboto Mono";
    color: #ffce00;
    text-decoration: none;
  }
  #contact .ctc-data a .ctc-call-to-action {
    width: 110px;
    height: 30px;
    padding: 5px 10px;
    border: 2px solid #ffce00;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data a .ctc-call-to-action:hover {
    background-color: rgba(255, 206, 0, 0.1);
  }
}

@media only screen and (min-width: 500px) {
  #contact {
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data {
    width: 90%;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header {
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header .ctc-title {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-header .ctc-title span {
    font-family: "Roboto Mono";
    color: #ffce00;
  }
  #contact .ctc-data .ctc-header .ctc-divider {
    width: 55%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-first-line {
    font-size: 24px;
    color: #fff;
  }
  #contact .ctc-data .ctc-second-line {
    width: 80%;
  }
  #contact .ctc-data .ctc-second-line p {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data a {
    font-size: 14px;
    font-family: "Roboto Mono";
    color: #ffce00;
    text-decoration: none;
  }
  #contact .ctc-data a .ctc-call-to-action {
    width: 110px;
    height: 30px;
    padding: 5px 10px;
    border: 2px solid #ffce00;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data a .ctc-call-to-action:hover {
    background-color: rgba(255, 206, 0, 0.1);
  }
}

@media only screen and (min-width: 600px) {
  #contact {
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data {
    width: 90%;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header {
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header .ctc-title {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-header .ctc-title span {
    font-family: "Roboto Mono";
    color: #ffce00;
  }
  #contact .ctc-data .ctc-header .ctc-divider {
    width: 60%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-first-line {
    font-size: 24px;
    color: #fff;
  }
  #contact .ctc-data .ctc-second-line {
    width: 80%;
  }
  #contact .ctc-data .ctc-second-line p {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data a {
    font-size: 14px;
    font-family: "Roboto Mono";
    color: #ffce00;
    text-decoration: none;
  }
  #contact .ctc-data a .ctc-call-to-action {
    width: 110px;
    height: 30px;
    padding: 5px 10px;
    border: 2px solid #ffce00;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data a .ctc-call-to-action:hover {
    background-color: rgba(255, 206, 0, 0.1);
  }
}

@media only screen and (min-width: 768px) {
  #contact {
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data {
    width: 90%;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header {
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header .ctc-title {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-header .ctc-title span {
    font-family: "Roboto Mono";
    color: #ffce00;
  }
  #contact .ctc-data .ctc-header .ctc-divider {
    width: 70%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-first-line {
    font-size: 28px;
    color: #fff;
  }
  #contact .ctc-data .ctc-second-line {
    width: 80%;
  }
  #contact .ctc-data .ctc-second-line p {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data a {
    font-size: 16px;
    font-family: "Roboto Mono";
    color: #ffce00;
    text-decoration: none;
  }
  #contact .ctc-data a .ctc-call-to-action {
    width: 130px;
    height: 50px;
    padding: 5px 10px;
    border: 2px solid #ffce00;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data a .ctc-call-to-action:hover {
    background-color: rgba(255, 206, 0, 0.1);
  }
}

@media only screen and (min-width: 992px) {
  #contact {
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data {
    width: 90%;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header {
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header .ctc-title {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-header .ctc-title span {
    font-family: "Roboto Mono";
    color: #ffce00;
  }
  #contact .ctc-data .ctc-header .ctc-divider {
    width: 75%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-first-line {
    font-size: 32px;
    color: #fff;
  }
  #contact .ctc-data .ctc-second-line {
    width: 80%;
  }
  #contact .ctc-data .ctc-second-line p {
    margin: 0px;
    padding: 0px;
    font-size: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data a {
    font-size: 16px;
    font-family: "Roboto Mono";
    color: #ffce00;
    text-decoration: none;
  }
  #contact .ctc-data a .ctc-call-to-action {
    width: 130px;
    height: 50px;
    padding: 5px 10px;
    border: 2px solid #ffce00;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data a .ctc-call-to-action:hover {
    background-color: rgba(255, 206, 0, 0.1);
  }
}

@media only screen and (min-width: 1200px) {
  #contact {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data {
    width: 70%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header {
    height: 5vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data .ctc-header .ctc-title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-header .ctc-title span {
    font-family: "Roboto Mono";
    color: #ffce00;
  }
  #contact .ctc-data .ctc-header .ctc-divider {
    width: 75%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data .ctc-first-line {
    font-size: 48px;
    color: #fff;
  }
  #contact .ctc-data .ctc-second-line {
    width: 70%;
  }
  #contact .ctc-data .ctc-second-line p {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
  #contact .ctc-data a {
    font-size: 16px;
    font-family: "Roboto Mono";
    color: #ffce00;
    text-decoration: none;
  }
  #contact .ctc-data a .ctc-call-to-action {
    width: 130px;
    height: 50px;
    padding: 5px 10px;
    border: 2px solid #ffce00;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .ctc-data a .ctc-call-to-action:hover {
    background-color: rgba(255, 206, 0, 0.1);
  }
}

/* 404 Page */
.data-404 {
  height: 100vh;
  width: 100%;
}

.data-404 .components-404 {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: "Roboto Mono";
  color: #ffce00;
  text-decoration: none;
}

.data-404 .components-404 .title-404 {
  padding: 2%;
  font-family: "Roboto Mono";
  font-size: 52px;
  color: #ffce00;
}

.data-404 .components-404 .description-404 {
  width: 25%;
  padding: 2%;
  text-align: center;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.6);
}

.data-404 .components-404 .back-button-404 {
  width: 130px;
  height: 50px;
  padding: 5px 10px;
  border: 2px solid #ffce00;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-404 .components-404 .back-button-404:hover {
  background-color: rgba(255, 206, 0, 0.1);
}
/*# sourceMappingURL=global.css.map */